@import 'styles/variables.scss';

.info {
	&__label {
		font-size: 14px;
		color: #bebebe;
		margin-bottom: 5px;
	}

	&__input {
		background: #e6ebf0;
		border-color: #e6ebf0;
		border-radius: 20px;
		padding: 8px 20px;
		height: 48px;
	}

	&__item {
		margin-bottom: 15px;

		.SingleDatePicker {
			width: 100%;
		}

		.SingleDatePickerInput {
			width: 100%;
			background: #e6ebf0;
			border-color: #e6ebf0;
			border-radius: 20px;
			display: flex;
			overflow: hidden;
		}
		.DateInput {
			width: 100%;
		}
		.DateInput_input {
			background: #e6ebf0;
			border-color: #e6ebf0;
			font-size: 16px;

			&:focus {
				border-color: #e6ebf0;
				outline: 0;
			}
		}
	}
}
