img,
iframe,
video {
  max-width: 100%;
}

table {
  width: 100%;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

::-webkit-selection {
  background: $primary;
  color: $white;
}

::-moz-selection {
  background: $primary;
  color: $white;
}

::selection {
  background: $primary;
  color: $white;
}
